<h1>Beers</h1>

 {{#each brewery}} 

    {{#each this.beers}}

         <div>Name: <a href="/brewery/{{breweryId}}/beers/{{this._id}}">{{this.name}}</a></div>

    
    <a href="/users/{{../userId}}/beer/{{this._id}}/delete">Delete Item</a> 



    {{/each}}

 {{/each}} 

    <a href="/brewery/{{breweryId}}/beers/new">Add New Beer</a>
    <a href="/brewery">Back to Main Brewery Page</a>