<h1>Beers</h1>

{{#each brewery}}

    {{#each this.beers}}
    <div>Name: <a href="/brewery/{{breweryId}}/beers/{{this._id}}">
    {{this.name}}</a></div>
    <div>Description: {{this.description}}</div>
    <div>Reviews: {{this.reviews}}</div>
    <div>Rating: {{this.rating}}</div>
    <div>Photo: {{this.photo}}</div>
    <div>Location: {{this.location}}</div>

    
    <a href="/users/{{../userId}}/beer/{{this._id}}">Show Item</a>
    <a href="/users/{{../userId}}/beer/{{this._id}}/delete">Delete Item</a> 
    <a href="/brewery/{{this._id}}/beers/new">Add New Beer</a>
    <a href="/brewery">Back to Main Brewery Page</a>


    {{/each}}

{{/each}}