<h1>Beers</h1>

    {{#each arrayOfBeers}}

    <div>Name: <a href="/brewery/{{../breweryId}}/beer/{{this._id}}">{{this.name}}</a></div>
    <a href="/brewery/{{../breweryId}}/beer/{{this._id}}/edit">Edit</a> 
    <a href="/brewery/{{../breweryId}}/beer/{{this._id}}/delete">Delete</a> 


    {{/each}}

<div>
    <a href="/brewery/{{breweryId}}/beer/new"><button>Add New Beer</button></a>
    <a href="/brewery"><button>Back to Main Brewery Page</button></a>
</div>