<h1>Beers</h1>

    {{#each arrayOfBeers}}

    <div>Name: <a href="/brewery/{{../breweryId}}/beer/{{this._id}}">{{this.name}}</a></div>
    <a href="/brewery/{{../breweryId}}/beer/{{this._id}}/edit">Edit</a>
    <a href="/brewery/{{../breweryId}}/beer/{{this._id}}/delete">Delete</a>


    {{/each}}

<div>
    <a href="/brewery/{{breweryId}}/beer/new"><button class="btn waves-effect waves-light amber accent-3">Add New Beer</button></a>
    <a href="/brewery"><button class="btn waves-effect waves-light amber accent-3">Back to Main Brewery Page</button></a>
</div>
