<h1>Beers</h1>

    {{#each arrayOfBeers}}

    <div class="beer-index"> 
        <button><a href="/brewery/{{../breweryId}}/beer/{{this._id}}">{{this.name}}</a></button>
        <a href="/brewery/{{../breweryId}}/beer/{{this._id}}/edit">Edit</a> 
        <a href="/brewery/{{../breweryId}}/beer/{{this._id}}/delete">Delete</a> 
    </div>

    {{/each}}

<div class="beer-show-button">
    <a href="/brewery/{{breweryId}}/beer/new"><button>Add New Beer</button></a>
    <a href="/brewery"><button>Back to Main Brewery Page</button></a>
</div>