<h1>{{name}}</h1>

<div>Description: {{description}}</div>
<div>Reviews: {{reviews}}</div>
<div>Rating: {{rating}}</div>
<div>{{photo}}</div>


<div><a href="/brewery/{{breweryId}}/beers">Back to Beer Page</a></div>
