<div class="row">
<div clas="row">Name: {{beer.name}}</div>
<div>Description: {{beer.description}}</div>
<div>Reviews: {{beer.reviews}}</div>
<div>Rating: {{beer.rating}}</div>
<div>{{beer.photo}}</div>
</div>




<button class="btn waves-effect waves-light amber accent-3" type="submit" name="action">Submit</button>
  <div><a href="/brewery/{{breweryId}}/beer">Back to Beer Page</a></div>
</button>
<button class="btn btn-primary" type="submit">
  <div><a href="/brewery/">Back to Brewery Page</a></div>
</button>
