
<div>Name: {{beer.name}}</div>
<div>Description: {{beer.description}}</div>
<div>Reviews: {{beer.reviews}}</div>
<div>Rating: {{beer.rating}}</div>
<div>{{beer.photo}}</div>





<div><a href="/brewery/{{breweryId}}/beer">Back to Beer Page</a></div>
<div><a href="/brewery/">Back to Brewery Page</a></div>
