<h1>User Page</h1>
{{#each user}}
    <div>
        <img src="{{this.photo}}">
         <div>Name: <a href="/users/{{this._id}}"></a>{{this.username}}</div>
         <div><a href="/users/{{this._id}}/bio"></a>Bio: {{this.bio}}</div>
         <div>{{this.username}}'s <a href="/brewery/{{../this._id}}/beer">Beers</a></div>
         <a href="/users/{{this._id}}/delete"><button>Delete {{this.username}}</button></a>
         <a href="/users/{{this._id}}/edit"><button>Edit {{this.username}}</button></a>
    </div>
{{/each}}
