<h1>{{user.username}}</h1>
  <div>Bio: {{user.bio}} </div>
  <div>{{user.photo}}</div>
  <div>My Beers: {{beers}}</div>
  <div>My Fridge: {{user.fridge}}</div>

<div><a href="/users/{{user._id}}/edit">Edit Profile</a></div>
<div><a href="/users/{{user._id}}/delete">Delete My Account</a></div>
<div><a href="/users/">Log Out</a></div>
<div><a href="/brewery/">Breweries</a></div>