<h1>{{user.username}}</h1>
  <div>Bio: {{user.bio}} </div>
  <div>{{user.photo}}</div>
  {{#each user.beers}}
  <div>My Beers: <a href="/brewery/{{this.breweryId}}/beer/{{this._id}}">{{this.name}}</a></div>
  {{/each}}
  <div>My Fridge: {{user.fridge}}</div>

<div><a href="/users/{{user._id}}/edit">Edit Profile</a></div>
<div><a href="/users/{{user._id}}/delete">Delete My Account</a></div>
<div><a href="/users/">Log Out</a></div>
<div><a href="/brewery/">Breweries</a></div>