<h1>Beer Cult</h1>
{{#each brewery}}
    <div>
        <div>Name: {{this.name}}</div>
        <div>Email: {{this.email}}</div>
        <div>Website: {{this.website}}</div>
        <div>Beers:
            <ul>
                <li>Name:{{brewery.beer.name}}</li>
                <li>Rating: {{beer.rating}}</li>
                </ul>
          
        
        <a href="/brewery/{{this._id}}">Show {{this.name}}</a>
        <a href="/brewery/{{this._id}}/delete">Delete {{this.name}}</a>
        <a href="/brewery/{{this._id}}/edit">Edit {{this.name}}</a>
    </div>
{{/each}}
