<h1>Beer Cult</h1>
{{#each brewery}}
        <div class="brewery-name"><button><a href="/brewery/{{this._id}}">{{this.name}}</a>
            </button>
        </div>
    {{#each this.beers}} 
        <div class="beer-list">
                <div><a href="/brewery/{{../this._id}}/beer/{{this._id}}">{{this.name}}</a> 
                <a id="delete-button" href="/brewery/{{../this._id}}/beer/{{this._id}}/delete">Delete Beer</a>
                </div> 
        </div>
     {{/each}}
     <div class="delete-edit-add">
        <div><a href="/brewery/{{this._id}}/delete">Delete {{this.name}}</a></div>
        &nbsp;
        <div><a href="/brewery/{{this._id}}/edit">Edit {{this.name}}</a></div>
        &nbsp;
        <div><a href="/brewery/{{this._id}}/beer/{{beerId}}/new">Add New Beer</a></div>
    </div>
{{/each}}
    <div class="new">
        <button><a href="/brewery/new">Add a New Brewery</a></button>
        &nbsp;
        <button><a href="/users/new">Sign Up</a></button>
    </div>
