<h1>Beer Cult</h1>
{{#each brewery}}
    <div>
        <div>Name: <a href="/{{this._id}}">{{this.name}}</a></div>
        <div>Beers:
            <ul>
                <li>Name:{{brewery.beer.name}}</li>
                <li>Rating: {{beer.rating}}</li>
                </ul>


        <a href="/{{this._id}}">Show {{this.name}}</a>
        <a href="/{{this._id}}/delete">Delete {{this.name}}</a>
        <a href="/{{this._id}}/edit">Edit {{this.name}}</a>
    </div>
{{/each}}
